.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #072dd6;
    background-image: url("https://user-images.githubusercontent.com/78994881/224188854-d52ac37b-5953-4c67-b10b-d87b6c79e3f4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.hero .btn1 {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background: #9b2fe2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.hero .btn1:hover {
    background: #0a0da3;
    transform: scale(1.1);
}
.hero .btn1 a {
    text-decoration: none;
    color: #fff;
}

.cards {
    position: relative;
    flex-direction: row;
    width: 450px;
    height: 450px;
    color: #0a0da3;
    background: #802ddf;
    overflow: hidden;
    border-radius: 20px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 15px;
    transition: transform .25s;
    margin-top: 15px;

}

.temporary_text {
    font-weight: bold;
    font-size: 24px;
    padding: 6px 12px;
    color: #000000;

}

.temporary_text img {
    width: 100%;
    height: 100%;
    border-radius: 5%;
}

.cards_title {
    font-weight: bold;
}

.cards_content {
    position: absolute;
    left: 0;
    bottom: 0;
    /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    background: #dbcdcd;
    border-top-left-radius: 20px;
    /* edit here to change the height of the content box */
    transform: translateY(150px);
    transition: transform .25s;
}

.cards_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #f2f2f2;
}

.cards_title {
    color: #131313;
    line-height: 15px;
}

.cards_subtitle {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    ;
    color: #000000;
    font-weight: 500;
    
}

.cards_description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    font-weight: 800;
}

.cards:hover .cards_content {
    transform: translateY(0);
}

.cards:hover .cards_description {
    opacity: 1;
    transition-delay: .25s;
}

@media screen and (max-width: 768px) {
    .cards {
        width: 60%;
        height: 60%;
        margin: 0;
        border-radius: 15px;
    }

    .cards_content {
        width: 100%;
        padding: 20px;
        background: #dbcdcd;
        border-top-left-radius: 20px;
        transform: translateY(150px);
        transition: transform .25s;
    }

    .cards_content::before {
        content: '';
        position: absolute;
        top: -47px;
        right: -45px;
        width: 100px;
        height: 100px;
        transform: rotate(-175deg);
        border-radius: 50%;
        box-shadow: inset 48px 48px #f2f2f2;
    }

    .cards_title {
        color: #131313;
        line-height: 15px;
    }

    .cards_subtitle {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .cards_description {
        font-size: 14px;
        opacity: 0;
        transition: opacity .5s;
    }

    .cards:hover .cards_content {
        transform: translateY(0);
    }

    .temporary_text {
        font-weight: bold;
        font-size: 24px;
        padding: 6px 12px;
        color: #000000;

    }

    .temporary_text img {
        width: 120px;
        height: 120px;
        border-radius: 15%;
    }
    .cards_description {
        font-size: 12px;
        width: 100%;
        opacity: 0;
        transition: opacity .5s;
    }
    .hero .btn1 {
        margin-top: 20px;
    }



}