.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgb(99, 6, 221);
    background: linear-gradient(90deg, rgb(10, 30, 129) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 10px;
    margin-top: 155px;
}

 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: 'Avalors Personal Use';


}

#container-stars {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btn:hover {
    transform: scale(1.1)
}

.btn:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btn:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100%;
    background: rgb(156, 169, 235);
    background: linear-gradient(90deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 70, 1) 100%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    margin: 20px;
    margin-top: 5rem;
}

.card-title {
    font-family: 'Avalors Personal Use';
    font-size: 30px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
    text-align: center;
    text-transform: uppercase;
}

.card-text {
    font-size: 15px;
    letter-spacing: 5px;
    color: #080808;
    text-shadow: 0 0 4px white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

.card:hover {
    transform: scale(1.1);

}

.middle .glowing-circle {
    position: relative;
    margin: 0 auto;
    margin-top: 14rem;
    margin-bottom: -4rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, 0.1);
    -webkit-animation: glowing 1s ease-in-out infinite alternate;
    -moz-animation: glowing 1s ease-in-out infinite alternate;
    animation: glowing 1s ease-in-out infinite alternate;
}
.glowing-circle h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e2d1d1;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0 0 10px #fff;
}

@keyframes glowing {
    from {
        box-shadow:
            0 0 10px #5c2f2f,
            0 0 20px #cf0d0d,
            0 0 30px #f0f,
            0 0 40px #0ff,
            0 0 50px #e60073,
            0 0 60px #e60073,
            0 0 70px #e60073;
    }

    to {
        box-shadow:
            0 0 20px #fff,
            0 0 30px #ff4da6,
            0 0 40px #ff4da6,
            0 0 50px #ff4da6,
            0 0 60px #ff4da6,
            0 0 70px #ff4da6,
            0 0 80px #ff4da6;
    }
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;        

    }
    .glowing-circle{
        background-color: #0ff;
        margin-top: 8rem;
    }
    .card {
        width: 100%;
        margin: 0;
        margin-top: 5rem;
        padding: 15px 15px 5px 5px;

    }
    .card-title {
        font-size: 25px;
        letter-spacing: 2px;
        color: #FFFFFF;
        text-shadow: 0 0 14px rgb(253, 119, 9);
        text-align: center;
        text-transform: uppercase;
    }
    .card-text {
        font-size: 25px;
        letter-spacing: 2px;
        padding: 5px;
        color: #080808;
        text-shadow: 0 0 4px white;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;
        
    }
    .btn {
        width: 250px;
        height: 50px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}